<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>Biblioteca Digital</title>
			<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
			<link rel="stylesheet" href="/stylesheets/style.css">
		</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1 class="bd-title">Biblioteca Digital</h1>
				<div class="clearfix">
					<div class="pull-left">
						<p class="lead">Organize sua coleção de livros</p>
					</div>
					<div class="pull-right">
						<button type="button" class="btn btn-default btn-sm"
							data-toggle="modal" data-target="#novoLivroModal">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
				</div>		
			</div>
		</div>
		
		<div class="modal fade" id="novoLivroModal" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss>
							<span>&times;</span>
							<h4 class="modal-title">Novo Livro</h4>
						</button>
						<form action="/livros" method="post">
							<div class="modal-body">
								<div class="form-group">
									<label for="titulo">Título</label>
									<input type="text" class="form-control" id="titulo" placeholder="Título">
								</div>
								<div class="form-group">
									<label for="autor">Autor</label>
									<input type="text" class="form-control" id="autor" placeholder="Autor">
								</div>
								<div class="form-group">
									<label for="nota">Nota</label>
									<textarea class="form-control" id="nota" rows="3"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/webjars/bootstrap/bootstrap.min.js"></script>
	</body>
</html>